<div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
    {{ $allNovelOverviews := where (where .Site.Pages "Section" "novels") "IsNode" true }}
    {{ $allNovelOverviews = where $allNovelOverviews "Params.excludeFromLists" "!=" true }}
    {{ $randomNovels := first 12 (shuffle $allNovelOverviews) }}
    
    {{ if $randomNovels }}
        {{ range $randomNovels }}
            {{ partial "card/responsive-novel-card.html" . }}
        {{ end }}
    {{ else }}
        <p class="text-(--color-muted-foreground) col-span-full">No random novels found.</p>
    {{ end }}
</div>