{{ with .Site.Params.firebase }}
<!-- Firebase SDKs -->
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "{{ .apiKey }}",
    authDomain: "{{ .authDomain }}",
    projectId: "{{ .projectId }}",
    storageBucket: "{{ .storageBucket }}",
    messagingSenderId: "{{ .messagingSenderId }}",
    appId: "{{ .appId }}"
  };

  // Initialize Firebase
  if (!firebase.apps.length) {
      firebase.initializeApp(firebaseConfig);
  }
  const auth = firebase.auth();
  const db = firebase.firestore();
</script>
{{ end }}